<div class="page-container">
  <h1>TO DO LIST</h1>
  <form #addTaskForm="ngForm" (ngSubmit)="addToList(addTaskForm)">
    <mat-form-field class="example-form-field">
      <mat-label>Type new item here</mat-label>
      <input matInput type="text" ngModel name="taskToAdd"/>
      <button
        *ngIf="addTaskForm.value.taskToAdd"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="addTaskForm.value.taskToAdd = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button
      class="add-btn"
      mat-raised-button
      type="submit"
      color="primary"
    >
      ADD TO LIST
    </button>
  </form>
  <ul class="to-do-list">
    <li
      *ngFor="let item of list; index as i"
      class="list-item"
      (click)="toggleCompleted(i)"
      (dblclick)="removeItem(i, $event)"
      [class.completed]="item.completed"
      [@simpleFadeAnimation]="'in'"
    >
      {{ item.name }}
    </li>
  </ul>
</div>
